<%= form_for :encuesta,:html=> { class: 'form-style-7' } do |f| %>
  <%= render "devise/shared/error_messages", resource: encuesta %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>
