<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Inicio", current_doctor, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Perfil", current_doctor, :class => 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to "Pacientes", doctors_path, :class => 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to "Permisos", viewable_patients_path, :class => 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to "Variables Médicas", medical_variables_path, :class => 'nav-link'  %>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Cerrar Sesión", destroy_doctor_session_path, method: :delete, :class => 'nav-link'  %>
      </li>
    </ul>
  </div>
</nav>
