<div class="flex-container">
  <div class="flex-column-container">
        <div class="center-container">
          <div class="registration_container">
<h2 class="registration_sign_in">Registrar un Paciente</h2>
<hr>

<%= form_for(patient) do |f| %>
  <%= render "devise/shared/error_messages", resource: patient %>

  <div class="field">
    <%= f.label :first_name, class:"registration_title"%><br />
    <%= f.text_field :first_name, class:"registration_input", autofocus: true %>
  </div>

  <div class="field registration_space">
    <%= f.label :last_name, class:"registration_title" %><br />
    <%= f.text_field :last_name, class:"registration_input", autofocus: true %>
  </div>

  <div class="flex-row-container">
  <div class="field registration_space flex-column-mid registration_row_chose">
    <%= f.label :birth_date, class:"registration_title" %><br />
    <%= f.date_field :birth_date, autofocus: true %>
  </div>

  <div class="field registration_space flex-column-mid registration_row_chose">
    <%= f.label :sex, class:"registration_title" %><br />
    <%= f.select(:sex, [["Masculino", "male"], ["Femenino", "female"]], {:prompt => 'Selecciona'}) %>
  </div>
  </div>

  <div class="field registration_space">
    <%= f.label :email, class:"registration_title" %><br />
    <%= f.email_field :email, class:"registration_input", autofocus: true, autocomplete: "email" %>
  </div>
    <% unless patient.persisted? %>
  <div class="registration_space">
  <div class="field">
    <%= f.label :password, class:"registration_title" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class:"registration_input", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"registration_title" %><br />
    <%= f.password_field :password_confirmation, class:"registration_input", autocomplete: "new-password" %>
  </div>
  </div>
  <%= f.hidden_field :doctor_id, value: current_doctor.id %>
    <% end %>
  <div class="actions registration_space registration_button">
    <%= f.submit "Registrar", class:"session-button" %>
  </div>
<% end %>
</div>
</div>
</div>
</div>
