<h2>Pacientes</h2>

<div>
  <h2>Directos:</h2>
  <div>
    <% if @patients.empty? %>
      <h3 class="d-flex w-100 justify-content-center text-muted">Aún no tiene pacientes</h3>
    <% else %>
      <div class="d-flex w-100 justify-content-center">
        <table class="table table-striped w-75">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
              <% @patients.each do |p| %>
              <tr>
                <td><%= p.first_name.titleize %></td>
                <td><%= p.last_name.titleize %></td>
                <td class="text-center">
                  <%= link_to 'Variables Médicas', patient_medicals_path(:patient => p), class: 'btn btn-info w-25 d-inline-block' %>
                  <%= link_to "Registro de Variables", logs_path(:patient => p), class: 'btn btn-info w-25 d-inline-block' %>
                </td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>

<div>
  <h2>Adicionales:</h2>
  <div>
     <% if @viewable_patients.empty? %>
      <h3>Aún no tiene pacientes de otros Doctores</h3>
    <% else %>
      <% @viewable_patients.each do |p| %>
        <div>
          <p>Paciente: <%="#{p.first_name.titleize} #{p.last_name.titleize}"%></p>
          <p>Doctor: <%="#{p.doctor.first_name.titleize} #{p.doctor.last_name.titleize}"%></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>