<div class="d-flex w-75 justify-content-center">
  <div class="d-flex w-75 justify-content-start">
    <h2>Registro de Variables</h2>
  </div>
  </div>
<div class="d-flex w-75 justify-content-center">
  <div class="d-flex w-75 justify-content-start">
    <h4 class="badge badge-info"><%="#{ @patient.first_name.titleize } #{ @patient.last_name.titleize }"%></h4>
  </div>
</div>
<div class="d-flex w-75 justify-content-center">
  <div class="d-flex w-75 justify-content-start">
    <h4 class="badge badge-dark"><%="#{@patient.doctor.sex == 'male' ? 'Dr.' : 'Dra.'} #{ @patient.doctor.first_name.titleize } #{ @patient.doctor.last_name.titleize }"%></h4>
  </div>
</div>
<div class=" w-75 justify-content-center">

    <% if @patient.variables_with_patient_medical.empty? %>
      <h3 class="d-flex w-100 justify-content-center text-muted">No tienes registros de variables pendientes.</h3>
    <% else %>
    <% @patient.patient_medicals.each do |variable| %>
      <%= form_for(@log) do |f| %>
        <div class="form-row">
          <div class="form-group col-6">
            <h4>Variable a Registrar</h4>
            <%= variable.medical_variable.name %>
            <%= f.hidden_field :patient_medical_id, value: variable.medical_variable.id %>
          </div>
          <div class="form-group col-4">
            <h4>Valor a Registrar</h4>
            <%= f.text_field :value, class: "registration_input pl-2 h-5" %>
          </div>
          <div class="form-group col">
            <%= f.submit "Registrar", class: 'btn btn-primary' %>
          </div>
        </div>

      <% end %>
      <% end %>
    <% end %>
  </div>
<div class="d-flex w-100 justify-content-center">
  <div class="d-inline-block col-md-8">
    <% if current_doctor.nil? %>
      <div class="d-flex w-100 justify-content-center">
        <div class="d-flex flex-row-reverse mb-2 w-75">
          <%= link_to "+ Registrar Variable", new_log_path, class: 'btn badge-pill btn-outline-primary mr-4' %>
        </div>
      </div>
    <% end %>
    <% if @logs.empty? %>
      <% if current_doctor.nil? %>
        <div class="d-flex w-75 justify-content-center">
          <div class="d-flex flex-row-reverse mb-2 w-75">
            <h1 class="text-muted text-justify">Aún no tienes registros de variables.</h1>
          </div>
        </div>
      <% else %>
        <div class="d-flex w-75 justify-content-center">
          <div class="d-flex flex-row-reverse mb-2 w-75">
            <h1 class="text-muted text-justify">Este paciente aún no ha registrado variables.</h1>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="d-flex w-100 justify-content-center">
        <table class="table table-striped w-75 mr-4">
          <thead>
            <tr>
              <th scope="col">Variable</th>
              <th scope="col">Valor</th>
              <th scope="col">Fecha de Registro</th>
              <th scope="col">Estado de Registro</th>
            </tr>
          </thead>
          <tbody>
              <% @logs.reverse.each do |log| %>
              <tr>
                <td><%= log.patient_medical.medical_variable.name.titleize %></td>
                <td><%= log.value %></td>
                <td><%= log.created_at.strftime("%d/%m/%Y")%></td>
                <td><span class="badge badge-<%=badge_color(log.status)%>"><%= log.status.nil? ? "N/D" : adjust_status(log.status) %></span></td>
              </tr>
              <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div><div class="d-inline-block justify-content-center col-md-4 w-25">
    <ul class="d-inline-block list-group justify-content-center w-100 mb-4">
      <div class="alert alert-primary mb-2 w-75">
        Variables Monitoreadas
      </div>
      <% @tracked_variables.each do |tv| %>
        <li class="list-group-item w-75"><%= tv.name.titleize %> </li>
      <% end %>
    </ul>
    <button class="btn btn-info w-75" onclick="print_page()">Imprimir</button>
  </div>
</div>

<script>
function print_page() {
  window.print()
}
</script>
